/* img is for tick icons */
/* !important to force fix css to bootstrap */
/* hr is the light haircross */
/* h1-h6 force fix css to header */
/* if you tried to fix css but it doesn't work perfectly... try !important */

img {
  width: 15px;
  height: 15px;
  text-align: center;
}

h3 {
    text-align: center !important;
}

h1,
h5 {
  display: inline !important;
  color: red !important;
}

h6 {
  color: gray !important;
}

p {
  color: gray !important;
  margin-left: 5% !important;
}

/* This div not belongs to Bootstrap so no need !important... it just the black border */
div.div-border {
  border: 2px solid black;
  border-radius: 8%;
  width: fit-content;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
  width: 25%;
}

hr {
    margin-left: 0 !important;
}
