

img {
  width: 15px;
  height: 15px;
  text-align: center;
}

h3 {
    text-align: center !important;
}

h1,
h5 {
  display: inline !important;
  color: red !important;
}

h6 {
  color: gray !important;
}

p {
  color: gray !important;
  margin-left: 5% !important;
}


div.div-border {
  border: 2px solid black;
  border-radius: 8%;
  width: fit-content;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
  width: 25%;
}

hr {
    margin-left: 0 !important;
}
